<div id="import-dlg" title="Import words">
    <div>Insert your data here:</div>
    <textarea></textarea>
    <div>
        <span>Check the preview:</span>
        <span></span>
    </div>
    
    <input type="button" value="Import"/>
    <input type="button" value="Close [Esc]"/>
</div>