/* Dictionary window */
.dict {
  padding: 0 0 4px 0;
}
.dict__panel {
  padding: 0 0 10px 0;
}
.dict__panel > div:not(.droplistItems) {
  display: inline-block;
}
.dict__panel a.button {
  display: inline-block;
}
.dict__panel__save-all {
  display: inline-block;
  margin-right: 8px;
}
.dict__panel__add {
}
.dict__panel__add a.button {  
}
.dict__panel__add__word {  
}
.dict__panel__add a.button:first-of-type {
  border-right-width: 0;
}

.dict__panel__add-options {
  display: block;
  position: absolute;
  width: 160px;
  z-index: 6;
}
.dict__panel__add-options a {
  color: #3995B6;
  display: block;
  padding: 3px 5px;
  text-decoration: none;
}

.dict__panel__add-options a:hover {
  background-color: #98BDCD;
  color: white;
}

.dict__panel__delete-word {
}

.droplistItems {
  display: none;
  background-color: #FFFFEA;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: none;
  padding: 5px;
  position: absolute;
  z-index: 4;
}
.droplistItems a:hover {
  text-decoration: none;
}

.word__table {
  border-collapse: collapse;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: black;
  width: 755px;
}

.word__table tr:first-child td {
  border-top-width: 0 !important; 
  border-collapse: collapse;
}

.word__table tr td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.word__table th {
  border: 1px solid #ccc;
}

.word__table div {
  padding: 2px; 
}

.word__table__header {
  font-weight: bold;
  text-align: center;
}
.word__table__header th{
  /*border-bottom-width: 0;*/
}
.word__table__content {
  /*height: 430px;*/
  overflow-x: hidden;
  overflow-y: scroll;
}

.word-line {
  background-color: #EFF7DF;
}
.word-line__check {
  
}
.word-line__original > div {
  width: 207px;
}
.word-line__definition {
  width: 300px;
}
.word-line__example {
  width: 400px;
}