.exer-settings {
  font-family: "Verdana", "Tahoma", sans-serif;
  padding: 10px 0;
}
.exer-settings a:hover {
  text-decoration: none;
}
.exer__setting-section {
  margin-bottom: 6px;
}

.exer__setting {
  padding: 10px;
  width: 400px;
  font-size: 12px;
}

.exer__setting__head {
  border-bottom: 1px dotted grey;
  padding: 4px;
  font-weight: 700;
  color: darkslateblue;
}
.exer__setting__body {
  padding: 4px;
}
.exer__setting__body .b-slider {
  margin: 4px 0;
}

#accordion h3 {
  font-weight: bold;
}

h3.ui-accordion-header-active {
  background-color: #99FF66;
}

.exer__start-lesson {
  margin: 8px 0;
}

#accordion h3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

/*exercises list*/
ul.b-exercises {
  list-style: none;
  padding-left: 0;
}
.b-exercises__item {
  padding: 8px 8px;
  margin: 8px 0;
  background-color: #E9F6FE;
  border: 1px solid #BEDEF2;

  cursor: move;
}
.b-exercises__item > div {
  float: left;
}
.b-exercises__item_name {

}
.b-exercises__item__desc {
  font-size: 11px;
}
.b-exercises__item__pic {
  margin-right: 4px;
}

.b-exercise_read {
  background-position: 0 -48px;
}
.b-exercise_listen {
  
}
.b-exercise_write {
  background-position: 0 0;
}

.ui-state-highlight {
   height: 56px; 
   line-height: 40px;
}
.b-exercises-add .common-pic{
  background-position: 0 -192px;
  width: 16px;
  height: 16px;
  display: inline-block;
}