.button {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Segoe UI' , Verdana, sans-serif;
  font-size: 16px;
  padding: 4px 8px;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
}

.button_blue {
  background-color: #E9F6FE;
  border: 1px solid #BEDEF2;
  color: #2581A2;
}

.button_blue:hover {
  background-color: #BEDEF2;
}

.button_grey {
  background-color: #EBEBEB;
  border: 1px solid #C3C3C3;
  color: #777777;
}

.user-button {
  background-color: #9AAF89;
  border-color: #D6E1BB #4A5F39 #4A5F39 #D6E1BB;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Verdana;
  font-size: 11px;
  margin: 0;
  padding: 3px 7px;
  text-decoration: none;
}

.user-button:hover {
  background-color: #9FA999;
}

.header {
  color: #2581A2;
}
#edit-word-dlg {
  font-size: 12px;
  padding: 6px 4px;
  display: none;
}
#edit-word-dlg input[type=text] {
  width: 300px;
}
#edit-word-dlg textarea {
  width: 300px;
  height: 4.4em;
  line-height: 1;
  font-size: 1em;
}

/* Import word dialog */
#import-dlg {
  display: none;
}
.exercise__pic {
  background-image: url(exercises-list.png);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.common-pic {
  background: url(lesson.png) no-repeat 0 0 scroll transparent;
}

.b-caption, a.b-caption {
  font-size: 13px;
  font-weight: bold;
  color: #2581A2;
}
a.b-caption:hover {
  color: black;
}