.dict-list {
  
}
.dict-list__panel {
  padding: 0 0 10px 3px;
}

.dict-list__panel__select-all {
}
.dict-list__panel__new {  
}
.dict-list__panel__delete {  
}

/* Table */
.dict-list__table {
  border-collapse: collapse;
}

.dict-list__row {
  background-color: #EFF7DF;
  border-bottom: 1px dashed #DDDDDD;
  border-top: 1px solid #BBBBBB;
}

.dict-list__table td {
  padding: 4px 3px 4px 10px;
}

.dict-line__check {
  
}

.dict-line__name {
  width: 250px;
}
.dict__name-box {
  
}

.dict-line__count {
  
}

.dict-line__created {
  width: 160px;
  
  text-align: left;
}