@model Staad.Web.Models.DictionaryListViewModel
@section MainBox{
<div class="jumbotron jumbotron_my">
    <div class='dict-list'>
        @Html.Hidden("hdnDicts", Model.GetJson())

        <h2>My dictionaries</h2> 
  
        <div class="dict-list__panel">
            <input type="checkbox" class="dict-list__panel__select-all" data-bind='checked: allChecked,click: toggleCheckAll' />
            @Html.ActionLink("New Dictionary", "New", "Dictionary", null,
                new { @class = "dict-list__panel__new btn btn-sm btn-primary" })
            <button class="btn btn-primary btn-sm dict-list__panel__delete" 
                    data-bind='click: removeChecked, css: getClassForDeleteBtn'>Delete</button>
       
        </div>

        <table class="table table-striped table-hover dict-list__table">
            <tbody data-bind='foreach: dicts'>
                <tr class="dict-list__row">
                    <td class="dict-line__check">
                        <input type="checkbox" data-bind='checked: checked' />
                    </td>
                    <td class="dict-line__name">
                        <a data-bind="text: name, attr: {href: url}"></a>
                    </td>
                    <td class="dict-line__count">
                        0 / <span data-bind='text: wordsCount'></span>
                    </td>
                    <td class="dict-line__created">
                        Added: <span data-bind='text: created'></span>
                    </td>
                </tr>
            </tbody>
        </table>
  
    </div>
  </div>
}