@using Staad.Domain.Entities
@model Staad.Web.Models.DictionaryViewModel
@{
    ViewBag.Title = Model.Dictionary.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainBox{

  <div class="jumbotron jumbotron_my jumbotron_wide">
    <div class="msg_error" data-bind='text: currentError'></div>

    <h2 class="header">
        @Html.ActionLink("My dictionaries", "List", null, new { @class = "" })
        >> @Model.Dictionary.Name
    </h2>
    <div class="dict">
        <div class="dict__panel">

            <div class="dict__panel__add">
                <div>
                  <a href="javascript:void(0)" data-bind="click: $root.addWord" class="dict__panel__add__word btn btn-primary btn-sm">
                      New word
                  </a>    
                  <b class='dict__panel__add__options caret'></b>
                </div>
            </div>
            <div class="dict__panel__add-options droplistItems">
                <a href="javascript:void(0)" class="dict__panel__add-options__add">New word</a>
                <a href="javascript:void(0)" class="dict__panel__add-options__import">Import</a>
            </div>
            <div class="dict__panel__delete-word">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm"
                   data-bind='click: removeChecked, css: getClassForDeleteBtn'>Delete</a>
            </div>
            <div>
                @Html.ActionLink("Learn", "Setup", "Exercise",
                    new { id = Model.Dictionary.Id },
                    new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>

        @Html.Hidden("hdnModel", Model.GetJson())

        <table class="table table-striped table-hover word__table">
            <tr class="word__table__header info">
                <th class="word-line__check">
                    <input type="checkbox" data-bind='checked: allWordsChecked, click: checkAllWords' />
                </th>
                <th class="word-line__original">
                    <div>Original word</div>
                </th>
                <th class="word-line__definition">
                    <div>Definition</div>
                </th>
                <th class="word-line__example">
                    <div>Example</div>
                </th>
            </tr>
        </table>

        <div class="word__table__content">
            <table class="table table-striped table-hover word__table">
                <tbody data-bind='foreach: words'>
                    <tr class="word-line">
                        @{ Html.RenderPartial("WordRow"); }
                    </tr>
                </tbody>
            </table>
        </div>
        @{
            var newWord = new Word { Container = Model.Dictionary };
            Html.RenderPartial("ShowWordDialog", newWord);
        }
    </div>
  </div>
}