<td class="word-line__check">
    <input type="checkbox" data-bind='checked: Checked'/>
</td>
<td class="word-line__original can-edit" data-bind="click: $root.editWord">
    <div data-bind="text: Original"></div>
</td>
<td class="word-line__definition can-edit" data-bind="click: $root.editWord">
    <div data-bind="text: Definition"></div>
</td>
<td class="word-line__example can-edit" data-bind="click: $root.editWord">
    <div data-bind="text: Example"></div>
</td>