<td class="word-line__check">
    <input type="checkbox" data-bind='checked: checked'/>
</td>
<td class="word-line__original can-edit" data-bind="click: $root.editWord">
    <div data-bind="text: original"></div>
</td>
<td class="word-line__definition can-edit" data-bind="click: $root.editWord">
    <div data-bind="text: definition"></div>
</td>
<td class="word-line__example can-edit" data-bind="click: $root.editWord">
    <div data-bind="text: example"></div>
</td>