<td class="word-line__check">
    <input type="checkbox" data-bind='checked: checked'/>
</td>
<td class="word-line__original can-edit" data-bind="click: $root.editWord">
    <div>
        <label data-bind="text: original"></label>
    </div>
</td>
<td class="word-line__definition can-edit" data-bind="click: $root.editWord">
    <div>
        <label data-bind="text: definition"></label>
    </div>
</td>
<td class="word-line__example can-edit" data-bind="click: $root.editWord">
    <div>
        <label data-bind="text: example"></label>
    </div>
</td>